// Variables
$light: #ffffff;
$dark: #000000;
$main-bg: #fafafa;
$main-text: #262626;
$second-text: #8e8e8e;
$link: #0095f6;
$gradient: linear-gradient(180deg, #de0046 0%, #f7a34b 100%);

* {
	font-family: "Segoe UI";
}
