// Variables
$light: #ffffff;
$dark: #000000;
$main-bg: #fafafa;
$main-text: #262626;
$second-text: #8e8e8e;
$link: #0095f6;
$borders: #dbdbdb;
$footer-text: #c7c7c7;
$gradient: linear-gradient(180deg, #de0046, #f7a34b);

// General settings
* {
	font-family: "Segoe UI";
}

body {
	margin: 0;

	background: $main-bg;
}

// #region Home page
// #region Header
.header {
	display: flex;
	align-items: center;

	height: 50px;
	padding: 9px 0px 8px;
	box-sizing: border-box;

	border-bottom: 1px solid $borders;

	// Logo
	&-logo {
		margin-left: 480px;
		margin-right: 250px;

		cursor: pointer;
	}

	// Search input
	&-input {
		margin-right: 120px;
		padding: 5px 0px;
		width: 215px;
		height: 28px;

		background: $main-bg;

		border: 1px solid $borders;
		box-sizing: border-box;
		border-radius: 3px;

		font-family: FontAwesome, "Segoe UI", sans-serif;
		color: $second-text;
		text-align: center;
		font-weight: 300;

		&:focus {
			outline: none;
		}
	}

	// Navigation menu
	&-navigation {
		margin-right: 490px;

		&-list {
			margin: 0;
			padding: 0;

			list-style: none;

			&-item {
				display: inline-block;
				margin-right: 15px;

				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
// #endregion

// #region Main
.main {
	display: flex;
	justify-content: center;
	margin: 30px 0 10px 0;

	// #region Main block
	&-block {
		width: 615px;

		background: $light;
		border: 1px solid $borders;

		// #region Stories
		.stories-block {
			display: flex;
			align-items: center;
			justify-content: space-around;
			padding: 15px 0 15px 20px;

			border-bottom: 1px solid $borders;

			// Story block
			&-story {
				display: flex;
				flex-direction: column;
				margin-right: 15px;

				&:nth-last-child() {
					margin-right: 0;
				}

				// Image
				&-wrap {
					position: relative;
					width: 60px;
					height: 60px;

					padding: 2px;

					background: $gradient;
					border-radius: 100%;

					&-img {
						margin: 0 auto;
						margin-bottom: 5px;
						padding: 2px;

						width: 56px;
						height: 56px;

						background: $light;

						border-radius: 100%;
						cursor: pointer;
					}
				}

				// Description
				&-description {
					margin: 0;

					color: $main-text;

					font-size: 12px;
					text-align: center;
					letter-spacing: 0.12px;
					text-transform: lowercase;
				}
			}
		}
		// #endregion

		// #region Post
		.posts-block {
			&-post {
				// #region Header
				&-header {
					display: flex;
					align-items: center;

					height: 60px;

					border-bottom: 1px solid $borders;

					// User image
					&-wrap {
						position: relative;
						margin: 0 15px;
						padding: 2px;

						width: 36px;
						height: 36px;

						background: $gradient;
						border-radius: 100%;

						&-img {
							margin: 0 auto;
							padding: 2px;

							width: 32px;
							height: 32px;

							cursor: pointer;
							background: $light;
							border-radius: 100%;
						}
					}

					// User nickname
					&-nickname {
						color: $main-text;

						cursor: pointer;

						font-weight: 600;
						font-size: 14px;
						line-height: 18px;
						text-transform: lowercase;
						text-decoration: none;
					}

					// More menu
					&-more {
						margin-left: 71%;

						cursor: pointer;
					}
				}
				// #endregion

				// #region Main
				&-main {
					border-bottom: 1px solid $borders;

					// Post image
					&-user-img {
						width: 100%;

						margin-bottom: 15px;
					}

					// Like, comment, send and save buttons
					&-interaction {
						display: flex;
						align-items: center;
						justify-content: space-between;

						padding: 0 15px 0 25px;
						margin-bottom: 15px;

						.left-side-like,
						.left-side-comment {
							margin-right: 15px;

							cursor: pointer;
						}

						.left-side-send,
						.right-side-save {
							cursor: pointer;
						}
					}

					// Likes, description, comments and time
					&-info {
						margin: 0 30px 15px 15px;

						// Likes
						&-likes {
							margin: 0;

							cursor: pointer;

							color: $main-text;

							font-weight: 600;
							font-size: 14px;
							line-height: 18px;
							text-transform: lowercase;
						}

						// Description
						&-description {
							&-nickname {
								margin-right: 5px;

								color: $main-text;

								cursor: pointer;

								font-weight: 600;
								font-size: 14px;
								line-height: 18px;
								text-transform: lowercase;
							}
							&-text {
								color: $main-text;

								font-size: 14px;
								line-height: 18px;

								.more {
									color: $second-text;

									cursor: pointer;

									font-size: 14px;
									line-height: 18px;
								}
							}
						}

						// Comments
						&-comments {
							margin: 5px 0 0 0;

							color: $second-text;

							cursor: pointer;

							font-size: 14px;
							line-height: 18px;
						}

						// Time
						&-time {
							margin: 5px 0 0 0;

							color: $second-text;

							font-size: 10px;
							line-height: 18px;
							letter-spacing: 0.2px;
							text-transform: uppercase;
						}
					}
				}
				// #endregion

				// #region Footer
				&-footer {
					display: flex;
					align-items: center;
					justify-content: space-between;

					padding: 15px;

					// Emoji and input for comment
					.left-side {
						display: flex;
						align-items: center;

						width: 100%;
						height: 100%;
					}

					// Emoji
					&-emoji {
						margin-right: 15px;

						cursor: pointer;
					}

					// Input for comment
					&-add {
						width: 100%;

						font-size: 14px;
						line-height: 18px;

						color: $main-text;

						cursor: text;
					}

					// Post button
					&-post {
						font-weight: 600;
						font-size: 14px;
						line-height: 18px;
						text-transform: capitalize;

						color: $link;

						opacity: 0.3;
						cursor: pointer;
					}
				}
				// #endregion
			}
		}
		// #endregion
	}
	// #endregion

	// #region Aside block
	.aside-block {
		width: 300px;

		margin: 15px 0 0 30px;

		// #region Header
		&-header {
			display: flex;
			align-items: center;

			margin-bottom: 25px;

			// Profile picture
			&-profile-picture {
				margin-right: 25px;

				cursor: pointer;
			}

			// Nickname, name, surname
			&-text {
				margin-right: 89px;

				// Nickname
				&-nickname {
					margin: 0 0 10px 0;

					font-weight: 600;
					font-size: 14px;
					line-height: 18px;
					text-transform: lowercase;

					color: $main-text;

					cursor: pointer;
				}

				// Name and surname
				&-name {
					margin: 0 0 0 0;

					font-size: 14px;
					line-height: 18px;
					text-transform: capitalize;

					color: $second-text;

					cursor: pointer;
				}
			}

			// Switch button
			&-switch {
				font-weight: 600;
				font-size: 12px;
				line-height: 16px;
				text-transform: capitalize;

				color: $link;

				cursor: pointer;
			}
		}
		// #endregion

		// #region Main
		&-main {
			margin-bottom: 30px;

			// #region Header
			&-header {
				display: flex;
				align-items: center;

				margin-bottom: 15px;

				// Main text
				&-suggestions {
					margin: 0 134px 0 0;

					font-weight: 600;
					font-size: 14px;
					line-height: 18px;
					text-transform: capitalize;

					color: $second-text;
				}

				// See all button
				&-see-all {
					margin: 0;

					font-weight: 600;
					font-size: 12px;
					line-height: 16px;
					text-transform: capitalize;

					color: $main-text;

					cursor: pointer;
				}
			}
			// #endregion

			// #region Main
			&-main {
				// Profile
				&-profile {
					display: flex;
					align-items: center;

					margin-bottom: 20px;

					// Profile picture
					&-picture {
						margin-right: 10px;

						width: 32px;
						height: 32px;

						cursor: pointer;
					}

					// Nickname and followed persons
					&-text {
						width: 90%;

						// Nick name
						&-nickname {
							margin: 0 0 10px 0;

							font-size: 14px;
							line-height: 11px;
							text-transform: lowercase;

							color: $main-text;

							cursor: pointer;
						}

						// Followed persons
						&-followed {
							margin: 0;

							font-size: 12px;
							line-height: 11px;

							color: $second-text;
						}
					}

					// Follow button
					&-follow {
						margin: 0;

						font-weight: 600;
						font-size: 12px;
						line-height: 11px;
						text-transform: capitalize;

						color: $link;

						cursor: pointer;
					}

					&:last-child {
						margin-bottom: 0;
					}
				}
			}
			// #endregion
		}
		// #endregion

		// #region Footer
		&-footer {
			// Links
			&-text {
				font-size: 11px;
				line-height: 16px;

				text-transform: capitalize;

				color: $footer-text;

				cursor: pointer;
			}
		}
		// #endregion
	}
	// #endregion
}
// #endregion
// #endregion

// #region Direct page

// #region Left side
.chats {
	width: 350px;

	// #region Header of chats section
	&-header {
		display: flex;
		align-items: center;

		padding: 18px 50px 18px 80px;
		margin-bottom: 15px;

		height: 60px;

		border-bottom: 1px solid $borders;
		box-sizing: border-box;

		// Nickname
		&-account {
			margin: 0 10px 0 0;

			font-weight: 600;
			font-size: 16px;
			line-height: 24px;
			text-transform: lowercase;

			color: $main-text;
		}

		// Switch account button
		&-switch {
			margin-right: 70px;

			cursor: pointer;
		}

		// Create chats button
		&-create {
			cursor: pointer;
		}
	}
	// #endregion

	// #region Messages section
	&-messages {
		padding: 0 20px 400px 20px;

		// Message block
		&-block {
			display: flex;
			align-items: center;

			margin-bottom: 15px;

			cursor: pointer;

			// Profile picture
			&-profile-picture {
				margin-right: 10px;

				width: 56px;
				height: 56px;
			}

			// Section with text
			&-text {
				// Nickname
				&-nickname {
					margin: 0 0 10px 0;

					width: 70%;

					font-size: 14px;
					line-height: 11px;
					text-transform: lowercase;

					color: $main-text;
				}

				// Message
				&-message {
					margin: 0;

					font-size: 14px;
					line-height: 11px;

					color: $second-text;
				}
			}
		}
	}
	// #endregion
}
// #endregion

// #region Right side
.your-messages {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	// Title
	&-title {
		margin: 15px 0 0 0;

		font-weight: 350;
		font-size: 22px;
		line-height: 17px;

		color: $main-text;
	}

	// Description
	&-description {
		margin: 15px 0 0 0;

		font-size: 14px;
		line-height: 11px;

		color: $second-text;
	}

	// Send message button
	&-send-message {
		margin: 30px 0 0 0;

		width: 110px;
		height: 30px;

		background: $link;
		border: none;
		border-radius: 4px;
		cursor: pointer;

		color: $light;
		font-weight: 600;
		font-size: 14px;
		line-height: 18px;
	}
}
// #endregion

// #endregion

// #region User profile page
.user-profile {
	display: flex;
	align-items: center;
	flex-direction: column;

	margin-bottom: 0;
}
// #region Main
.main {
	// #region Header
	&-header {
		width: 935px;

		// #region Section with info
		&-avatar-info {
			display: flex;

			margin-bottom: 60px;

			&-avatar {
				margin: 0 100px 0 70px;
			}

			&-info {
				// #region Header of section with info
				&-header {
					display: flex;
					align-items: center;

					margin: 20px 0 25px 0;

					// Nickname
					&-nickname {
						margin: 0 20px 0 0;

						font-weight: 350;
						font-size: 28px;
						line-height: 32px;

						color: $main-text;
					}

					// Follow button
					&-follow-btn {
						margin-right: 20px;
						padding: 6px 24px;

						width: 90px;
						height: 30px;

						background: $link;
						border: none;
						border-radius: 4px;

						color: $light;
						font-weight: 600;
						font-size: 14px;
						line-height: 18px;

						cursor: pointer;
					}

					// More button
					&-more {
						cursor: pointer;
					}
				}
				// #endregion

				// #region Main content of section with info
				&-main {
					display: flex;
					margin-bottom: 20px;

					// Posts, followers, following
					&-block {
						margin: 0 40px 0 0;

						font-size: 16px;
						line-height: 18px;

						color: $main-text;

						cursor: pointer;

						// Number
						&-number {
							font-weight: 600;
							font-size: 16px;
							line-height: 18px;

							color: $main-text;
						}
					}
				}
				// #endregion

				// #region Footer of section with info
				&-footer {
					// Name and surname
					&-name-surname {
						margin: 0;

						font-weight: 600;
						font-size: 16px;
						line-height: 24px;

						color: $main-text;
					}
				}
				// #endregion
			}
		}
		// #endregion

		// #region Highlights
		&-highlights {
			display: flex;

			margin: 0 0 55px 80px;

			// Highlight block
			&-block {
				margin-right: 60px;

				cursor: pointer;
				text-align: center;

				&:last-child {
					margin-right: 0;
				}

				// Highlight desription
				&-description {
					margin: 20px 0 0 0;

					font-weight: 600;
					font-size: 14px;
					line-height: 16px;

					text-align: center;
					letter-spacing: 0.12px;

					color: $main-text;
				}
			}
		}
		// #endregion
	}
	// #endregion

	// #region Main
	.profile-photos {
		width: 935px;

		border-top: 1px solid $borders;

		// #region Sections
		&-sections {
			display: flex;
			justify-content: center;
			align-items: center;

			padding: 20px 0;

			box-sizing: border-box;

			// Block
			&-block {
				display: flex;
				align-items: center;

				margin-right: 60px;

				cursor: pointer;

				&:last-child {
					margin-right: 0;
				}

				// Image
				&-img {
					margin-right: 6px;

					width: 12px;
					height: 12px;
				}

				// Section name
				&-name {
					color: $second-text;
					font-weight: 600;
					font-size: 12px;
					line-height: 18px;
					text-transform: uppercase;
				}
			}
		}
		// #endregion

		// #region Posts
		&-post {
			margin: 0 23px 23px 0;

			cursor: pointer;

			// For 3 and 6 photos
			&:nth-child(3n + 4) {
				margin-right: 0;
			}

			// For 3 last items
			&:nth-last-child(-n + 3) {
				margin-bottom: 0;
			}
		}
		// #endregion
	}
	// #endregion
}
// #endregion

// #region Footer
.footer {
	position: fixed;
	left: calc(50% - 662px / 2);
	bottom: 70px;

	// Top section
	&-top {
		margin-bottom: 15px;

		&-section {
			margin-right: 15px;
		}
	}

	// Bottom section
	&-bottom {
		&-more {
			margin-right: 25px;

			cursor: pointer;
		}
	}

	// For top and bottom section
	&-top,
	&-bottom {
		&-section {
			color: $second-text;
			font-size: 12px;
			line-height: 11px;
			text-transform: capitalize;

			cursor: pointer;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}
// #endregion
// #endregion
