* {
  font-family: "Segoe UI";
}

body {
  margin: 0;
  background: #fafafa;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding: 9px 0px 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: 1px solid #dbdbdb;
}

.header-logo {
  margin-left: 480px;
  margin-right: 250px;
  cursor: pointer;
}

.header-input {
  margin-right: 120px;
  padding: 5px 0px;
  width: 215px;
  height: 28px;
  background: #fafafa;
  border: 1px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 3px;
  font-family: FontAwesome, "Segoe UI", sans-serif;
  color: #8e8e8e;
  text-align: center;
  font-weight: 300;
}

.header-input:focus {
  outline: none;
}

.header-navigation {
  margin-right: 490px;
}

.header-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-navigation-list-item {
  display: inline-block;
  margin-right: 15px;
  cursor: pointer;
}

.header-navigation-list-item:last-child {
  margin-right: 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px auto 10px auto;
}

.main-block {
  width: 615px;
  background: #ffffff;
  border: 1px solid #dbdbdb;
}

.main-block .stories-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 15px 0 15px 20px;
  border-bottom: 1px solid #dbdbdb;
}

.main-block .stories-block-story {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 15px;
}

.main-block .stories-block-story:nth-last-child() {
  margin-right: 0;
}

.main-block .stories-block-story-wrap {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#de0046), to(#f7a34b));
  background: linear-gradient(180deg, #de0046, #f7a34b);
  border-radius: 100%;
}

.main-block .stories-block-story-wrap-img {
  margin: 0 auto;
  margin-bottom: 5px;
  padding: 2px;
  width: 56px;
  height: 56px;
  background: #ffffff;
  border-radius: 100%;
  cursor: pointer;
}

.main-block .stories-block-story-description {
  margin: 0;
  color: #262626;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.12px;
  text-transform: lowercase;
}

.main-block .posts-block-post-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
}

.main-block .posts-block-post-header-wrap {
  position: relative;
  margin: 0 15px;
  padding: 2px;
  width: 36px;
  height: 36px;
  background: -webkit-gradient(linear, left top, left bottom, from(#de0046), to(#f7a34b));
  background: linear-gradient(180deg, #de0046, #f7a34b);
  border-radius: 100%;
}

.main-block .posts-block-post-header-wrap-img {
  margin: 0 auto;
  padding: 2px;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background: #ffffff;
  border-radius: 100%;
}

.main-block .posts-block-post-header-nickname {
  color: #262626;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
  text-decoration: none;
}

.main-block .posts-block-post-header-more {
  margin-left: 71%;
  cursor: pointer;
}

.main-block .posts-block-post-main {
  border-bottom: 1px solid #dbdbdb;
}

.main-block .posts-block-post-main-user-img {
  width: 100%;
  margin-bottom: 15px;
}

.main-block .posts-block-post-main-interaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px 0 25px;
  margin-bottom: 15px;
}

.main-block .posts-block-post-main-interaction .left-side-like,
.main-block .posts-block-post-main-interaction .left-side-comment {
  margin-right: 15px;
  cursor: pointer;
}

.main-block .posts-block-post-main-interaction .left-side-send,
.main-block .posts-block-post-main-interaction .right-side-save {
  cursor: pointer;
}

.main-block .posts-block-post-main-info {
  margin: 0 30px 15px 15px;
}

.main-block .posts-block-post-main-info-likes {
  margin: 0;
  cursor: pointer;
  color: #262626;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
}

.main-block .posts-block-post-main-info-description-nickname {
  margin-right: 5px;
  color: #262626;
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
}

.main-block .posts-block-post-main-info-description-text {
  color: #262626;
  font-size: 14px;
  line-height: 18px;
}

.main-block .posts-block-post-main-info-description-text .more {
  color: #8e8e8e;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.main-block .posts-block-post-main-info-comments {
  margin: 5px 0 0 0;
  color: #8e8e8e;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
}

.main-block .posts-block-post-main-info-time {
  margin: 5px 0 0 0;
  color: #8e8e8e;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

.main-block .posts-block-post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.main-block .posts-block-post-footer .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

.main-block .posts-block-post-footer-emoji {
  margin-right: 15px;
  cursor: pointer;
}

.main-block .posts-block-post-footer-add {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  color: #262626;
  cursor: text;
}

.main-block .posts-block-post-footer-post {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #0095f6;
  opacity: 0.3;
  cursor: pointer;
}

.main .aside-block {
  width: 300px;
  margin: 15px 0 0 30px;
}

.main .aside-block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.main .aside-block-header-profile-picture {
  margin-right: 25px;
  cursor: pointer;
}

.main .aside-block-header-text {
  margin-right: 89px;
}

.main .aside-block-header-text-nickname {
  margin: 0 0 10px 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: lowercase;
  color: #262626;
  cursor: pointer;
}

.main .aside-block-header-text-name {
  margin: 0 0 0 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #8e8e8e;
  cursor: pointer;
}

.main .aside-block-header-switch {
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #0095f6;
  cursor: pointer;
}

.main .aside-block-main {
  margin-bottom: 30px;
}

.main .aside-block-main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.main .aside-block-main-header-suggestions {
  margin: 0 134px 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
  color: #8e8e8e;
}

.main .aside-block-main-header-see-all {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-transform: capitalize;
  color: #262626;
  cursor: pointer;
}

.main .aside-block-main-main-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.main .aside-block-main-main-profile-picture {
  margin-right: 10px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.main .aside-block-main-main-profile-text {
  width: 90%;
}

.main .aside-block-main-main-profile-text-nickname {
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 11px;
  text-transform: lowercase;
  color: #262626;
  cursor: pointer;
}

.main .aside-block-main-main-profile-text-followed {
  margin: 0;
  font-size: 12px;
  line-height: 11px;
  color: #8e8e8e;
}

.main .aside-block-main-main-profile-follow {
  margin: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 11px;
  text-transform: capitalize;
  color: #0095f6;
  cursor: pointer;
}

.main .aside-block-main-main-profile:last-child {
  margin-bottom: 0;
}

.main .aside-block-footer-text {
  font-size: 11px;
  line-height: 16px;
  text-transform: capitalize;
  color: #c7c7c7;
  cursor: pointer;
}

.chats {
  width: 350px;
}

.chats-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 50px 18px 80px;
  margin-bottom: 15px;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chats-header-account {
  margin: 0 10px 0 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: lowercase;
  color: #262626;
}

.chats-header-switch {
  margin-right: 70px;
  cursor: pointer;
}

.chats-header-create {
  cursor: pointer;
}

.chats-messages {
  padding: 0 20px 400px 20px;
}

.chats-messages-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
}

.chats-messages-block-profile-picture {
  margin-right: 10px;
  width: 56px;
  height: 56px;
}

.chats-messages-block-text-nickname {
  margin: 0 0 10px 0;
  width: 70%;
  font-size: 14px;
  line-height: 11px;
  text-transform: lowercase;
  color: #262626;
}

.chats-messages-block-text-message {
  margin: 0;
  font-size: 14px;
  line-height: 11px;
  color: #8e8e8e;
}

.your-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.your-messages-title {
  margin: 15px 0 0 0;
  font-weight: 350;
  font-size: 22px;
  line-height: 17px;
  color: #262626;
}

.your-messages-description {
  margin: 15px 0 0 0;
  font-size: 14px;
  line-height: 11px;
  color: #8e8e8e;
}

.your-messages-send-message {
  margin: 30px 0 0 0;
  width: 110px;
  height: 30px;
  background: #0095f6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.user-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 0;
}

.main-header {
  width: 935px;
}

.main-header-avatar-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 60px;
}

.main-header-avatar-info-avatar {
  margin: 0 100px 0 70px;
}

.main-header-avatar-info-info-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0 25px 0;
}

.main-header-avatar-info-info-header-nickname {
  margin: 0 20px 0 0;
  font-weight: 350;
  font-size: 28px;
  line-height: 32px;
  color: #262626;
}

.main-header-avatar-info-info-header-follow-btn {
  margin-right: 20px;
  padding: 6px 24px;
  width: 90px;
  height: 30px;
  background: #0095f6;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
}

.main-header-avatar-info-info-header-more {
  cursor: pointer;
}

.main-header-avatar-info-info-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.main-header-avatar-info-info-main-block {
  margin: 0 40px 0 0;
  font-size: 16px;
  line-height: 18px;
  color: #262626;
  cursor: pointer;
}

.main-header-avatar-info-info-main-block-number {
  font-weight: 600;
  font-size: 16px;
  line-height: 18px;
  color: #262626;
}

.main-header-avatar-info-info-footer-name-surname {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #262626;
}

.main-header-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 55px 80px;
}

.main-header-highlights-block {
  margin-right: 60px;
  cursor: pointer;
  text-align: center;
}

.main-header-highlights-block:last-child {
  margin-right: 0;
}

.main-header-highlights-block-description {
  margin: 20px 0 0 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.12px;
  color: #262626;
}

.main .profile-photos {
  width: 935px;
  border-top: 1px solid #dbdbdb;
}

.main .profile-photos-sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .profile-photos-sections-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 60px;
  cursor: pointer;
}

.main .profile-photos-sections-block:last-child {
  margin-right: 0;
}

.main .profile-photos-sections-block-img {
  margin-right: 6px;
  width: 12px;
  height: 12px;
}

.main .profile-photos-sections-block-name {
  color: #8e8e8e;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}

.main .profile-photos-post {
  margin: 0 23px 23px 0;
  cursor: pointer;
}

.main .profile-photos-post:nth-child(3n + 4) {
  margin-right: 0;
}

.main .profile-photos-post:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.footer {
  position: fixed;
  left: calc(50% - 662px / 2);
  bottom: 70px;
}

.footer-top {
  margin-bottom: 15px;
}

.footer-top-section {
  margin-right: 15px;
}

.footer-bottom-more {
  margin-right: 25px;
  cursor: pointer;
}

.footer-top-section, .footer-bottom-section {
  color: #8e8e8e;
  font-size: 12px;
  line-height: 11px;
  text-transform: capitalize;
  cursor: pointer;
}

.footer-top-section:last-child, .footer-bottom-section:last-child {
  margin-right: 0;
}

.explore {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.explore-first-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.explore-first-row-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.explore-first-row-small-img {
  cursor: pointer;
}

.explore-first-row-small-img:first-child {
  margin-bottom: 30px;
}

.explore-other-row {
  margin-top: 25px;
}

.explore-other-row-img {
  margin-right: 25px;
  cursor: pointer;
}

.explore-other-row-img:last-child {
  margin-right: 0;
}
/*# sourceMappingURL=style.css.map */