* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  background: #e5e5e5;
}

a {
  color: #4743e0;
  font-weight: 700;
  text-decoration: none;
}

.wrap {
  display: block;
  margin: 40px auto;
  width: 1440px;
  background: #ffffff;
}

.wrap .main {
  padding: 80px 100px;
  width: 850px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .main-already-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.wrap .main-already-member-text {
  margin-right: 15px;
  margin-bottom: 50px;
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.25px;
  text-decoration: none;
  color: #4743e0;
}

.wrap .main-form-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.wrap .main-form-title-title {
  width: 280px;
  margin: 0;
  margin-right: 60px;
  color: #42505c;
  font-weight: bold;
  font-size: 54px;
  line-height: 68px;
}

.wrap .main-form-title-terms {
  width: 300px;
  color: #404040;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.wrap .main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 650px;
  padding: 40px 0;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
}

.wrap .main-form-label {
  display: block;
  color: #333333;
  font-weight: normal;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.wrap .main-form-label-left {
  margin-right: 45px;
}

.wrap .main-form-input {
  display: block;
  width: 300px;
  height: 50px;
  margin-bottom: 25px;
  padding: 15px 0 20px 15px;
  border: 1px solid #d1d1d1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap .main-form-input:focus {
  outline: none;
}

.wrap .main-form-optional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0 40px 0;
}

.wrap .main-form-optional-small {
  color: rgba(51, 51, 51, 0.34);
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.wrap .main-form-optional-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .main-form-optional-inputs-btn {
  width: 65px;
  height: 50px;
  margin-right: 10px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.25px;
  color: rgba(0, 0, 0, 0.5);
}

.wrap .main-form-optional-inputs .active {
  color: #4743e0;
  border: 1px solid #4743e0;
  -webkit-box-shadow: 0 0 14px rgba(71, 67, 224, 0.2);
          box-shadow: 0 0 14px rgba(71, 67, 224, 0.2);
}

.wrap .main-form-optional-inputs-list {
  width: 90px;
  height: 50px;
  text-align: center;
  border: 1px solid #d1d1d1;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.wrap .main-form-optional-inputs-list:focus {
  outline: none;
}

.wrap .main-form-optional-inputs-phone {
  margin: 0;
  padding: 20px 0 20px 20px;
  width: 210px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
}

.wrap .main-form-passwords {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
}

.wrap .main-register-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 30px;
}

.wrap .main-register-btn-checkbox-input {
  width: 24px;
  height: 24px;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */