// Variables
$bg-color: #e5e5e5;
$red-color: #ff4229;
$black: #000000;
$light: #ffffff;
$orange-rectangle: #ffc04d;
$red-rectangle: #fe351f;
$blue-rectangle: #71c3fd;

html {
	width: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	font-family: "Manrope", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	margin: 40px 150px;

	&-logo {
		display: flex;
		align-items: center;
		&-title {
			margin: 0;
			margin-left: 12px;
			font-weight: 800;
			font-size: 30px;
			line-height: 82px;
			text-transform: lowercase;
		}
	}

	&-nav {
		display: flex;
		align-items: center;

		&-items {
			margin-right: 60px;
			text-decoration: none;
			color: $black;
			font-weight: 800;
			font-size: 14px;
			line-height: 19px;

			transition: 0.2s;

			&:hover {
				// border: 1px solid $black;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
	}

	&-login {
		display: flex;
		align-items: center;

		&-log-in {
			margin-right: 175px;
			text-decoration: none;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: $black;
		}

		&-get-started {
			position: absolute;
			right: 150px;
			z-index: 1;
			width: 130px;
			height: 50px;
			padding: 15px;
			background: $black;
			border: none;
			border-radius: 50px;
			color: $light;
		}
	}
}

.shadow {
	.upper {
		top: -20%;
		left: 85%;
	}

	.centring {
		top: 45%;
		left: 25%;
	}

	.orange-rectangle {
		position: absolute;
		width: 200px;
		height: 200px;
		filter: blur(50px);
		border-radius: 150px;
		background: $orange-rectangle;
	}

	.blue-rectangle {
		position: absolute;
		width: 300px;
		height: 300px;
		top: 10%;
		left: 90%;
		filter: blur(100px);
		border-radius: 150px;
		background: $blue-rectangle;
	}

	.red-rectangle {
		position: absolute;
		width: 300px;
		height: 300px;
		top: 20%;
		left: 30%;
		filter: blur(80px);
		border-radius: 150px;
		background: $red-rectangle;
	}
}
