// Variables
$red-color: #ff4229;
$black: #000000;
$light: #ffffff;

$orange-rectangle: #ffc04d;
$red-rectangle: #fe351f;
$blue-rectangle: #71c3fd;

$pink-element: #fddde2;
$green-element: #c6f8e7;
$yellow-element: #fedfc0;

* {
	font-family: "Manrope", sans-serif;
}

// General settings
body {
	margin: 0;
	width: 100%;
	overflow: hidden;
}

// Styles for header
.header {
	display: flex;
	justify-content: space-between;
	margin: 40px 150px 0 150px;

	// #region Header's elements

	// Logo of header
	&-logo {
		display: flex;
		align-items: center;
		&-title {
			margin: 0;
			margin-left: 12px;
			font-weight: 800;
			font-size: 30px;
			line-height: 82px;
			text-transform: lowercase;
		}
	}

	// Center navigation menu of header
	&-nav {
		display: flex;
		align-items: center;

		&-items {
			margin-right: 60px;
			text-decoration: none;
			color: $black;
			font-weight: 800;
			font-size: 14px;
			line-height: 19px;

			transition: 0.2s;

			&:hover {
				// border: 1px solid $black;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
			}
		}
	}

	// Right-side buttons of header
	&-login {
		display: flex;
		align-items: center;

		&-log-in {
			padding: 0;
			margin-right: 25px;
			background: none;
			border: 0;
			text-decoration: none;
			font-weight: normal;
			font-size: 14px;
			line-height: 19px;
			color: $black;
			cursor: pointer;
		}

		&-get-started {
			width: 130px;
			height: 50px;
			padding: 15px;
			background: $black;
			border: none;
			border-radius: 50px;
			color: $light;
			cursor: pointer;
		}
	}
	// #endregion
}

// Styles for main section
.main {
	display: flex;
	margin-left: 150px;

	// #region Main section's elements
	&-info-block {
		display: flex;
		width: 610px;
		flex-wrap: wrap;

		// Title of section
		&-title {
			margin: 0;
			margin-top: 160px;
			font-weight: 800;
			font-size: 60px;
			line-height: 82px;
		}

		// Text of section
		&-text {
			width: 400px;
			margin-top: 30px;
			margin-bottom: 70px;
			font-weight: 600;
			font-size: 23px;
			line-height: 32px;
		}

		// Mini-form of section
		&-inputs {
			&-input {
				width: 470px;
				height: 80px;
				padding: 25px 0px 25px 35px;
				border: none;
				box-sizing: border-box;
				box-shadow: 20px 10px 100px rgba(0, 0, 0, 0.1);

				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;

				&:focus {
					outline: none;
				}

				&::placeholder {
					font-weight: bold;
					font-size: 16px;
					line-height: 32px;
					opacity: 0.2;
				}
			}

			&-btn {
				position: absolute;
				top: 620px;
				left: 460px;
				width: 150px;
				height: 60px;

				background: $red-color;
				color: $light;
				cursor: pointer;

				border: none;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;

				font-weight: 800;
				font-size: 16px;
				line-height: 32px;
			}
		}

		// Group with some elements
		&-group {
			display: flex;
			align-items: center;
			margin-top: 110px;
			margin-bottom: 130px;

			&-triangle {
				margin-left: -10px;
				margin-right: 30px;
			}

			&-text {
				margin-right: 30px;
				cursor: pointer;
				font-style: normal;
				font-weight: 800;
				font-size: 14px;
				line-height: 19px;
			}

			&-pink-element {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 80px;
				margin-right: 20px;
				background-color: $pink-element;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;

				img {
					width: 60px;
					height: 45px;
				}
			}

			&-green-element {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 80px;
				margin-right: 20px;
				background: $green-element;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;

				img {
					width: 65px;
					height: 45px;
				}
			}

			&-yellow-element {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 80px;
				margin-right: 20px;
				background: $yellow-element;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;

				img {
					width: 67px;
					height: 62px;
				}
			}

			&-right-arrow {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 80px;
				height: 80px;
				margin-right: 20px;
				background: $red-color;
				border-radius: 50px;
				-webkit-border-radius: 50px;
				-moz-border-radius: 50px;
				-ms-border-radius: 50px;
				-o-border-radius: 50px;

				img {
					width: 30px;
					height: 15px;
				}
			}
		}
	}
	// Right side image
	&-image-block {
		position: absolute;
		z-index: -1;
		left: 1070px;
		top: 150px;

		img {
			width: 700px;
			height: 810px;
		}
	}

	// #endregion
}

// Style for shadows of page
.shadow {
	// Upper-right orange shadow
	.upper {
		top: -20%;
		left: 85%;
	}

	// Center orange shadow
	.centring {
		top: 45%;
		left: 25%;
	}

	// General styles for orange shadow
	.orange-rectangle {
		position: absolute;
		z-index: -1;
		width: 200px;
		height: 200px;
		filter: blur(50px);
		border-radius: 150px;
		background: $orange-rectangle;
	}

	// Blue shadow
	.blue-rectangle {
		position: absolute;
		z-index: -1;
		width: 300px;
		height: 300px;
		top: 10%;
		left: 90%;
		filter: blur(100px);
		border-radius: 150px;
		background: $blue-rectangle;
	}

	// Red shadow
	.red-rectangle {
		position: absolute;
		z-index: -1;
		width: 300px;
		height: 300px;
		top: 20%;
		left: 30%;
		filter: blur(80px);
		border-radius: 150px;
		background: $red-rectangle;
	}
}
