* {
	margin: 0;
	font-family: "Roboto", sans-serif;
}

body {
	background: #f0f2f4;
}

.main {
	margin: 100px auto;

	width: 500px;
	height: 700px;

	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 4px 29px -15px #000;
	text-align: center;
}

.title {
	padding: 40px 0;
}

.form-title {
	margin: 30px 0 10px 0;
}

.radio-inputs {
	display: flex;
	justify-content: center;
	align-items: center;
}
.radio-input {
	margin-right: 10px;

	width: 20px;
	height: 20px;

	cursor: pointer;
}
.radio-label {
	margin-right: 100px;
}

.form-inputs {
	padding-left: 10px;

	width: 200px;
	height: 30px;

	border: 1px solid #808080;
	box-sizing: border-box;

	cursor: text;
}
.form-inputs:hover {
	border: 2px solid #808080;
}
.form-inputs:focus {
	outline: none;
}

.bmi {
	background: #fff;
	color: #000;
}

.copy-info {
	margin-top: 10px;
	margin-bottom: 30px;

	font-size: 12px;
}
.copy-done {
	border: 2px solid #008000;
}

.explanation {
	margin-top: 20px;
	padding: 0 30px;

	font-size: 14px;
	text-align: justify;
}
