html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

.header {
  background: #eeeff1;
}

.header-up-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 400px 0 400px;
}

.header-up-block-logo {
  margin: 0;
  color: #34547a;
  font-family: "Revalia", cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.header-navigation-item {
  margin-right: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header-navigation-item:hover {
  color: #34547a;
  font-weight: 500;
}

.header-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 400px;
}

.header-main-block-image {
  margin-top: 80px;
}

.header-main-block-info {
  margin: 140px 0 0 130px;
}

.header-main-block-info-title {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

.header-main-block-info-text {
  color: #727272;
  margin-bottom: 60px;
}

.header-main-block-info-button {
  width: 225px;
  height: 65px;
  margin-bottom: 150px;
  background: #34547a;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.main .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main .about-me-title {
  margin: 0;
  margin-top: 120px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.main .about-me-text {
  width: 540px;
  margin-bottom: 100px;
  color: #727272;
}

.main .about-me-statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
  background-color: #34547a;
  color: #ffffff;
}

.main .about-me-statistics-list {
  list-style: none;
}

.main .about-me-statistics-list-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 50px;
}

.main .about-me-statistics-list-item-icon {
  margin: 0;
  font-size: 52px;
}

.main .about-me-statistics-list-item-text {
  margin: 0;
  margin-left: 20px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.main .about-me-statistics-list-item-text-number {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}
/*# sourceMappingURL=style.css.map */