html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.1em;
}

input:focus,
textarea:focus {
  outline: 0;
}

.button {
  background: #34547a;
  color: #ffffff;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  cursor: pointer;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.button:hover {
  background-color: #436d9e;
}

.header {
  height: 930px;
  background: #eeeff1;
}

.header-up-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 60px 400px 0 400px;
}

.header-up-block-logo {
  margin: 0;
  color: #34547a;
  font-family: "Revalia", cursive;
  font-weight: normal;
  font-size: 48px;
  line-height: 60px;
}

.header-navigation-item {
  margin-right: 40px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.header-navigation-item:hover {
  color: #34547a;
  font-weight: 500;
}

.header-main-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 400px;
}

.header-main-block-image {
  margin-top: 80px;
}

.header-main-block-info {
  margin: 140px 0 0 130px;
}

.header-main-block-info-title {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 48px;
  line-height: 79px;
}

.header-main-block-info-text {
  width: 600px;
  color: #727272;
  margin-bottom: 60px;
}

.header-main-block-info-button {
  width: 225px;
  height: 65px;
  margin-bottom: 150px;
}

.main .about-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.main .about-me-title {
  margin: 0;
  margin-top: 120px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.main .about-me-text {
  width: 540px;
  margin-bottom: 100px;
  color: #727272;
}

.main .about-me-stats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 250px;
  background-color: #34547a;
  color: #ffffff;
}

.main .about-me-stats-list {
  list-style: none;
}

.main .about-me-stats-list-item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-left: 50px;
}

.main .about-me-stats-list-item-icon {
  margin: 0;
  font-size: 52px;
}

.main .about-me-stats-list-item-text {
  margin: 0;
  margin-left: 20px;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
}

.main .about-me-stats-list-item-text-number {
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.main .my-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 650px;
}

.main .my-skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 150px;
}

.main .my-skills-block-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.main .my-skills-block-text {
  margin: 0;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}

.main .my-skills-block-rectangles {
  position: relative;
  width: 450px;
  height: 5px;
  margin-bottom: 20px;
  background: #c4c4c4c4;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.main .my-skills-block-rectangles-fill {
  position: absolute;
  height: 100%;
  background: #34547a;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.main .my-skills-block-rectangles .perc100 {
  width: 100%;
}

.main .my-skills-block-rectangles .perc80 {
  width: 80%;
}

.main .my-skills-block-rectangles .perc60 {
  width: 60%;
}

.main .my-skills-block-rectangles .perc40 {
  width: 40%;
}

.main .my-skills-block-rectangles .perc20 {
  width: 20%;
}

.main .working {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1000px;
  background: #eeeff1;
}

.main .working-title {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.main .working-text {
  margin: 0;
  margin-bottom: 60px;
  width: 550px;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #727272;
}

.main .my-projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 50px;
}

.main .my-projects .carousel-inner {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.main .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #eeeff1;
}

.main .form-title {
  margin: 0;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
}

.main .form-text {
  width: 540px;
  margin-bottom: 65px;
  text-align: center;
  color: #727272;
}

.main .form-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 750px;
  margin-bottom: 100px;
}

.main .form-main-input-name {
  width: 255px;
  height: 50px;
  padding: 20px 0 20px 20px;
  margin-right: 30px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .form-main-input-email {
  width: 255px;
  height: 50px;
  padding: 20px 0 20px 20px;
  margin-right: 30px;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .form-main-input-message {
  width: 540px;
  height: 175px;
  padding: 20px 0 20px 20px;
  margin-top: 20px;
  margin-right: 30px;
  resize: none;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main .form-main-input-btn {
  margin-top: 50px;
  width: 190px;
  height: 55px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 150px;
  background: #34547a;
  color: #ffffff;
  padding: 0px 400px;
}

.footer-left-side {
  margin: 50px 0;
}

.footer-left-side-title {
  margin: 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
}

.footer-left-side-text {
  margin: 20px 0 0 0;
  font-size: 13px;
  line-height: 21px;
}

.footer-right-side-links {
  color: #ffffff;
  margin-right: 20px;
  font-size: 28px;
}

.footer-right-side .github {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.footer-right-side .github:hover {
  color: #000000;
  transform: scale(110%);
  -webkit-transform: scale(110%);
  -moz-transform: scale(110%);
  -ms-transform: scale(110%);
  -o-transform: scale(110%);
}

.footer-right-side .linkedin {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.footer-right-side .linkedin:hover {
  color: #0077b7;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.footer-right-side .instagram {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.footer-right-side .instagram:hover {
  color: #ca2e98;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

.footer-right-side .telegram {
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.footer-right-side .telegram:hover {
  color: #34b0e3;
  -webkit-transform: scale(110%);
          transform: scale(110%);
}

@media screen and (min-width: 1440px) and (max-width: 1820px) {
  .header-up-block {
    padding: 60px 200px 0 200px;
  }
  .header-main-block {
    padding: 0px 200px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .header {
    height: 750px;
  }
  .header-up-block {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 60px 50px 0 50px;
  }
  .header-up-block-logo {
    font-size: 36px;
  }
  .header-navigation-item {
    font-size: 14px;
    margin-right: 20px;
  }
  .header-main-block {
    padding: 0px 50px;
  }
  .header-main-block-image {
    margin-top: 50px;
  }
  .header-main-block-image img {
    width: 260px;
  }
  .header-main-block-info {
    margin-top: 110px;
  }
  .header-main-block-info-title {
    font-size: 32px;
    margin-bottom: 40px;
  }
  .header-main-block-info-text {
    width: 500px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .header {
    height: 750px;
  }
  .header-up-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px 50px 0 50px;
  }
  .header-up-block-logo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .header-main-block {
    padding: 0px 50px;
  }
  .header-main-block-image {
    display: none;
  }
  .header-main-block-info {
    margin: 90px 0 0 0;
    text-align: center;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  .header {
    height: 750px;
  }
  .header-up-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px 50px 0 50px;
  }
  .header-up-block-logo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .header-navigation-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    font-size: 12px;
  }
  .header-main-block {
    padding: 0px 50px;
  }
  .header-main-block-image {
    display: none;
  }
  .header-main-block-info {
    margin: 90px 0 0 0;
    text-align: center;
  }
  .header-main-block-info-title {
    margin-bottom: 20px;
    font-size: 24px;
  }
  .header-main-block-info-text {
    width: 400px;
    font-size: 14px;
  }
}

@media screen and (min-width: 320px) and (max-width: 425px) {
  .header {
    height: 750px;
  }
  .header-up-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px 50px 0 50px;
  }
  .header-up-block-logo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .header-navigation-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    font-size: 12px;
  }
  .header-main-block {
    padding: 0px 50px;
  }
  .header-main-block-image {
    display: none;
  }
  .header-main-block-info {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .header-main-block-info-title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header-main-block-info-text {
    width: 200px;
    font-size: 12px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    height: 750px;
  }
  .header-up-block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 20px 50px 0 50px;
  }
  .header-up-block-logo {
    font-size: 36px;
    margin-bottom: 20px;
  }
  .header-navigation-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-right: 0px;
    font-size: 12px;
  }
  .header-main-block {
    padding: 0px 50px;
  }
  .header-main-block-image {
    display: none;
  }
  .header-main-block-info {
    margin: 20px 0 0 0;
    text-align: center;
  }
  .header-main-block-info-title {
    margin-bottom: 20px;
    font-size: 18px;
  }
  .header-main-block-info-text {
    width: 200px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */