// Variables
$bg-color: #eeeff1;
$light: #ffffff;
$navy-blue: #34547a;
$dark: #000000;
$silver-text: #727272;

body {
	margin: 0;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	letter-spacing: 0.1em;
}

.header {
	// height: 700px;
	background: $bg-color;
	&-up-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 60px 400px 0 400px;
		&-logo {
			margin: 0;
			font-family: "Revalia", cursive;
			font-weight: normal;
			font-size: 48px;
			line-height: 60px;
			color: $navy-blue;
		}
	}
	&-navigation {
		&-item {
			margin-right: 40px;
			color: $dark;
			text-decoration: none;
			text-transform: uppercase;
			letter-spacing: 0.1em;

			transition: 0.2s;
			-webkit-transition: 0.2s;
			-moz-transition: 0.2s;
			-ms-transition: 0.2s;
			-o-transition: 0.2s;

			&:hover {
				color: $navy-blue;
				font-weight: 500;
			}
		}
	}
	&-main-block {
		display: flex;
		align-items: center;
		padding: 0px 400px;

		&-image {
			margin-top: 80px;
		}

		&-info {
			margin: 140px 0 0 130px;

			&-title {
				margin-bottom: 60px;
				font-weight: 500;
				font-size: 48px;
				line-height: 79px;
			}

			&-text {
				color: $silver-text;
				margin-bottom: 60px;
			}

			&-button {
				width: 225px;
				height: 65px;
				margin-bottom: 150px;
				background: $navy-blue;
				color: $light;
				border: 0;
				text-transform: uppercase;
				letter-spacing: 0.1em;
				cursor: pointer;
			}
		}
	}
}
