html,
body {
	margin: 0;
	height: 100%;
}

* {
	font-family: "Montserrat", sans-serif;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	height: 10%;
	padding: 0 40px;

	background: #8f5ee2;
	color: #fff;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 28px;
	border-bottom: 2px solid #fff;
}

.copy {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn-copy {
	width: 150px;
	height: 50px;

	background: #000;
	color: #fff;
	border: 2px solid #fff;
	border-radius: 10px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}

.msg-copy {
	margin: 10px 0 0 0;

	font-size: 12px;
}

.error {
	color: #ff0000;
}
.successful {
	color: #adff22;
}

.main {
	padding: 20px 40px;
	box-sizing: border-box;
	height: 90%;

	background: #7740d6;
}

.textarea {
	display: block;
	margin: 0 auto;
	padding: 10px;
	width: 100%;
	height: 100%;

	box-sizing: border-box;
	border: 2px solid #fff;
	border-radius: 10px;
	resize: none;

	background: #3e0a97;
	color: #fff;
	font-size: 18px;
	font-weight: bold;
}

.textarea:focus {
	outline: none;
}
